#client-login{
    #form-field-category{
        width: 100% !important;
    }
    #RegisterClient{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }
    #SelectClient{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }
    .title{
        text-align: center;
        font-size: 2rem;
        margin-bottom: 2rem !important;
    }
    iconify-icon {
        font-size: 1rem;
    }
    
    .btn{
        background-color: #B07E50 !important;
        color: #ffffff !important;
    }
    
}

#footer-logo-0{
    width: 15rem !important;
}
.icono {
    width: 5.5555555555556% !important;
}

#asesor-title{
    color:#B07E50 !important;
}

#asesor-name{
    color:#B07E50 !important;
}